.loader li{
    background-color: grey;
}
.load-more{
    height: 50px;
}

.ui.link.cards{
    width: 95%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.ui.card, .ui.cards>.card{
    margin: 2em 2em;
    width: 400px;
    height: 390px;
    overflow: hidden;
}
